.Footer {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-contraste);
  text-decoration: none;
  margin-top: 30px;
}

.Footer-container {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 15px;
}

.footer--logo {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.footer-social-github {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 15px;
}

.footer-social {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-social span,
.footer-social-github span {
  color: var(--color-claro);
  margin-top: 5px;
  font-size: 1.6rem;
}
