:root {
  --color-fondo: #232931;
  --color-fondo-claro: #393e46;
  --color-contraste: #4ecca3;
  --color-claro: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--color-fondo);
}
